.padre {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    height: 100%;
    width: 100%;

    .hijo {
      background-color: #428bdf;
      border: 1px solid #000;
      border-radius: 15px;
      margin-bottom: 5px;
      width: 250px;
      height: 250px;
      display: flex;
      justify-content: center; /* alinea horizontalmente */
      align-items: center; /* alinea verticalmente */
    }
}