
<ng-container *ngIf="getViewAlert()">
  <app-alert [message] = "dialogMessage" ></app-alert>
</ng-container>

<fuse-alert
    [appearance]="'soft'"
    [dismissible]="true"
    [dismissed]="dismissed"
    [name]="'alertBox1'"
    [type]="'success'">
    Se guardo correctamente la marca.
</fuse-alert>

<div class="flex flex-auto">

    <!-- Drawer -->
    <fuse-drawer
    class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999"
    fixed
    [mode]="'over'"
    [position]="'right'"
    [opened]="drawerOpened"
    #settingsDrawer>
  
    <!--Sidenav -->
  
      <form  
        class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto"
        [formGroup]="carBrandForm" >
        
        <!-- Header del sidenav -->
  
        <div class="flex items-center justify-between -mt-3 -ml-4">
          <mat-icon
              class="icon-size-7 text-current"
              [svgIcon]="'heroicons_solid:cog'">
          </mat-icon>
          <div class="ml-3 text-2xl font-semibold tracking-tight">
            {{sideTittle}} <!-- Titulo del sidenav --> 
          </div> 
          <button
              class="ml-auto"
              mat-icon-button
              (click)="toggleDrawer()">
              <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"> </mat-icon>
          </button>
        </div>

        <!-- Body del sidenav -->
  
          <mat-divider class="mt-6 mb-8"></mat-divider>
  
          <!-- name -->
          <mat-form-field class="fuse-mat-bold fuse-mat-dense fuse-mat-rounded">
            <mat-label>Marca del auto</mat-label>
            <input matInput type="text" placeholder="Fiat" formControlName = "name">
            <mat-error *ngIf="carBrandForm.get('name').hasError('required')">Es requerido el nombre</mat-error>
            <mat-error *ngIf="carBrandForm.get('name').hasError('minLength')">Como minimo debe tener 2 caracteres</mat-error>
            <mat-error *ngIf="carBrandForm.get('name').hasError('maxLength')">Como maximo puede tener 20 caracteres</mat-error>
          </mat-form-field>
  
          <div mat-dialog-actions [align]="'end'">
            <button mat-raised-button color="warn" mat-dialog-close (click)="settingsDrawer.close()">Cancelar</button>
            <button mat-raised-button color="primary" cdkFocusInitial (click)="saveCarBrand()" type="submit" [disabled]="!carBrandForm.valid || buttonStatus">Guardar</button>
          </div>
  
        </form>
  
    </fuse-drawer>
  
    <!-- Esto es lo de la tabla y los botones -->
    <div class="flex-auto p-6 sm:p-10">
  
        <!-- Header -->
      <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8">
        <!-- Title -->
        <div>
          <div class="text-4xl font-extrabold tracking-tight leading-none">Marcas de autos</div>
          <div class="ml-0.5 font-medium text-secondary"></div>
        </div>
        <!-- Actions -->
        <div class="mt-4 sm:mt-0">
          <!-- Add autopart button -->
          <button
              class="ml-3"
              mat-flat-button
              [color]="'primary'"
              (click)="toggleDrawer()"
              [disabled]="false">
              
              <span class="ml-2 mr-1">Agregar una marca</span>
          </button>
        </div>
      </div>
  
      <!-- Tabla de repuestos  -->
  
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Fiat" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Marca</th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
  
          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let row"> 
  
              <button mat-icon-button (click)="edit(row)" color = "primary">
                <i class="fa-sharp fa-solid fa-pen-to-square"></i>
              </button>

              <!-- <button mat-icon-button (click)="delete(row)" color = "warn">
                <i class="fa-solid fa-trash"></i>
              </button> -->

            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontro ninguna marca que coincida con "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>