<ng-container *ngIf="getViewAlert()">
  <app-alert [message] = "dialogMessage" ></app-alert>
</ng-container>

<fuse-alert
    [appearance]="'soft'"
    [dismissible]="true"
    [dismissed]="dismissed"
    [name]="'alertBox1'"
    [type]="alertType">
    {{alertMessage}}
</fuse-alert>

<div class="flex flex-auto">

  <!-- Drawer -->
  <fuse-drawer
  class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999"
  fixed
  [mode]="'over'"
  [position]="'right'"
  [opened]="drawerOpened"
  #settingsDrawer>

  <!--Sidenav -->

    <form  
      class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10 overflow-y-auto"
      [formGroup]="autoPartForm">
      
      <!-- Header del sidenav -->

      <div class="flex items-center justify-between -mt-3 -ml-4">
        <mat-icon
            class="icon-size-7 text-current"
            [svgIcon]="'heroicons_solid:cog'">
        </mat-icon>
        <div class="ml-3 text-2xl font-semibold tracking-tight">
          {{sideTittle}} <!-- Titulo del sidenav --> 
        </div> 
        <button
            class="ml-auto"
            mat-icon-button
            (click)="toggleDrawer(false)">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"> </mat-icon>
        </button>
      </div>
      <!-- Body del sidenav -->

        <mat-divider class="mt-6 mb-8"></mat-divider>

        <!-- Botones (Sumar repuesto, Restar repuesto) -->

        <ng-container *ngIf="mode()"> <!--Esto es para que se oculten o no -->
          <button
              class="ml-3"
              mat-flat-button
              [color]="'primary'"
              (click)="addStock()">
              <span class="ml-2 mr-1">Agregar 1</span>
          </button>

          <br>

          <button
              class="ml-3"
              mat-flat-button
              [color]="'warn'"
              (click)="substracStock()">
              <span class="ml-2 mr-1">Restar 1</span>
          </button>

          <br>
          <!-- stock -->
          <mat-form-field class="fuse-mat-bold fuse-mat-dense fuse-mat-rounded">
            <mat-label>Stock</mat-label>
            <input matInput type="number" readonly formControlName = "stock">
          </mat-form-field>

          <mat-divider class="mt-6 mb-8"></mat-divider>

        </ng-container>

        <!-- Fin Botones -->

        <!-- typePart -->
        <mat-form-field class="fuse-mat-bold fuse-mat-dense fuse-mat-rounded">
          <mat-label>Tipo de repuesto</mat-label>
          <mat-select [(value)]="selectedPartType.id" formControlName="partType">
            <mat-option [value]="option.id" *ngFor="let option of partTypes">{{ option.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="autoPartForm.get('partType').hasError('required')">Es requerido el tipo de repuesto</mat-error>
        </mat-form-field>

        <!-- partBrand -->
        <mat-form-field class="fuse-mat-bold fuse-mat-dense fuse-mat-rounded">
          <mat-label>Marca del repuesto</mat-label>
          <mat-select [(value)]="selectedPartBrand.id">
            <mat-option [value]="option.id" *ngFor="let option of partBrands">{{ option.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- carBrand -->
        <mat-form-field class="fuse-mat-bold fuse-mat-dense fuse-mat-rounded">
          <mat-label>Marca de auto</mat-label>
          <mat-select [(value)]="selectedCarBrand.id">
            <mat-option [value]="option.id" *ngFor="let option of carBrands">{{ option.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- partModel -->
        <mat-form-field class="fuse-mat-bold fuse-mat-dense fuse-mat-rounded">
          <mat-label>Modelo del repuesto</mat-label>
          <input matInput type="text" placeholder="ME7.4.9" formControlName = "partModel">
          <mat-error *ngIf="autoPartForm.get('partModel').hasError('maxLength')">Como maximo puede tener 25 caracteres</mat-error>
        </mat-form-field>

        <!-- serialNumber -->
        <mat-form-field class="fuse-mat-bold fuse-mat-dense fuse-mat-rounded">
          <mat-label>Numero de serie</mat-label>
          <input matInput type="text" placeholder="ME7.4.9" formControlName = "serialNumber">
          <mat-error *ngIf="autoPartForm.get('serialNumber').hasError('maxLength')">Como maximo puede tener 25 caracteres</mat-error>
        </mat-form-field>

        <!-- stock -->
        <ng-container *ngIf="!mode()">
          <mat-form-field class="fuse-mat-bold fuse-mat-dense fuse-mat-rounded">
            <mat-label>Stock</mat-label>
            <input matInput type="number" formControlName = "stock">
            <mat-error *ngIf="autoPartForm.get('stock').hasError('required')">Es requerido el stock del repuesto</mat-error>
          </mat-form-field>
        </ng-container>

        <!-- drawer -->
        <mat-form-field class="fuse-mat-bold fuse-mat-dense fuse-mat-rounded">
          <mat-label>Cajon</mat-label>
          <input matInput type="text" placeholder="1" formControlName = "drawer">
          <mat-error *ngIf="autoPartForm.get('drawer').hasError('required')">Es requerido el cajon del repuesto</mat-error>
          <mat-error *ngIf="autoPartForm.get('drawer').hasError('maxLength')">Como maximo puede tener 10 caracteres</mat-error>
        </mat-form-field>
        
        <!-- description -->
        <mat-form-field class="fuse-mat-bold fuse-mat-dense fuse-mat-rounded">
          <mat-label>Descripcion</mat-label>
          <input matInput #message maxlength="200" placeholder="Ej: Peugeot 206/207 Motor 1.4 8v o 1.6 16v" formControlName = "description">
          <mat-error *ngIf="autoPartForm.get('description').hasError('maxLength')">Como maximo puede tener 200 caracteres</mat-error>
          <mat-hint>
            {{message.value.length}} / 200 <!-- Esto es para que se vea el contador de caracteres -->
          </mat-hint>
        </mat-form-field>

        <ng-container *ngIf="!mode()">
          <input (change)="onChange($event)" type="file" formControlName = "image">
        </ng-container>

        <!-- Preview de la imagen, renderiza cuando se subio algun archivo -->
        <ng-container *ngIf="mode()">
          <button mat-icon-button (click)="viewImage()">
            <i class="fa-solid fa-eye"></i>
          </button>
        </ng-container>
        
        <br>

        <div mat-dialog-actions [align]="'end'">
          <button mat-raised-button color="warn" mat-dialog-close (click)="toggleDrawer(false)">Cancelar</button>
          <button mat-raised-button color="primary" cdkFocusInitial (click)="saveAutoPart()" type="submit" [disabled]="!autoPartForm.valid || buttonStatus">Guardar</button>
        </div>

      </form>
  </fuse-drawer>

  <!-- Esto es lo de la tabla y los botones -->
  <div class="flex-auto p-6 sm:p-10">

      <!-- Header -->
    <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-8 px-6 md:px-8">
      <!-- Title -->
      <div>
        <div class="text-4xl font-extrabold tracking-tight leading-none">Repuestos</div>
        <div class="ml-0.5 font-medium text-secondary"></div>
      </div>
      <!-- Actions -->
      <div class="mt-4 sm:mt-0">
        <!-- Add autopart button -->
        <button
            class="ml-3"
            mat-flat-button
            [color]="'primary'"
            (click)="toggleDrawer(false)"
            [disabled]="false">
            
            <span class="ml-2 mr-1">Agregar un repuesto</span>
        </button>
      </div>
    </div>

    <!-- Inputs de los filtros  -->
    <div class = "container">

      <!-- <mat-form-field class = "filtros">
        <mat-label>Tipo de repuesto</mat-label>
        <input matInput [formControl]="partTypeFilter" placeholder="Inyector" #input>
      </mat-form-field> -->

      <mat-form-field class="fuse-mat-bold fuse-mat-dense filtros">
        <mat-label>Tipo de repuesto</mat-label>
        <mat-select [(value)]="selectedPartTypeFilter" [formControl]="partTypeFilter">
          <mat-option [value]="option.name" *ngFor="let option of partTypes" >{{ option.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field class = "fuse-mat-bold fuse-mat-dense filtros">
        <mat-label>Marca del repuesto</mat-label>
        <input matInput [formControl]="partBrandFilter" placeholder="Bosch" #input>
      </mat-form-field> -->

      <mat-form-field class="fuse-mat-bold fuse-mat-dense filtros">
        <mat-label>Marca del repuesto</mat-label>
        <mat-select [(value)]="selectedPartBrandFilter" [formControl]="partBrandFilter">
          <mat-option [value]="option.name" *ngFor="let option of partBrands" >{{ option.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field class = "fuse-mat-bold fuse-mat-dense filtros">
        <mat-label>Marca del auto</mat-label>
        <input matInput [formControl]="carBrandFilter" placeholder="Volkswagen" #input>
      </mat-form-field> -->

      <mat-form-field class="fuse-mat-bold fuse-mat-dense filtros">
        <mat-label>Marca del auto</mat-label>
        <mat-select [(value)]="selectedCarBrandFilter" [formControl]="carBrandFilter">
          <mat-option [value]="option.name" *ngFor="let option of carBrands" >{{ option.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class = "fuse-mat-bold fuse-mat-dense filtros">
        <mat-label>Modelo del repuesto</mat-label>
        <input matInput [formControl]="partModelFilter" placeholder="Me796" #input>
      </mat-form-field>

      <mat-form-field class = "fuse-mat-bold fuse-mat-dense filtros">
        <mat-label>Numero de serie</mat-label>
        <input matInput [formControl]="serialNumberFilter" placeholder="Volkswagen" #input>
      </mat-form-field>
    </div> 
    
    <!-- Tabla de repuestos  -->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Part Type Column -->
        <ng-container matColumnDef="partType">
          <th mat-header-cell *matHeaderCellDef>Tipo</th>
          <td mat-cell *matCellDef="let row"> {{row.partType.name}} </td>
        </ng-container>

        <!-- Part Brand Column -->
        <ng-container matColumnDef="partBrand">
            <th mat-header-cell *matHeaderCellDef>Marca del repuesto</th>
            <td mat-cell *matCellDef="let row"> 
                {{row.partBrand.name}} 
            </td>
        </ng-container>
    
        <!-- Car Brand Column -->
        <ng-container matColumnDef="carBrand">
          <th mat-header-cell *matHeaderCellDef>Marca de auto</th>
          <td mat-cell *matCellDef="let row"> 
              {{row.carBrand.name}} 
          </td>
        </ng-container>

        <!-- Part Model Column -->
        <ng-container matColumnDef="partModel">
          <th mat-header-cell *matHeaderCellDef>Modelo</th>
          <td mat-cell *matCellDef="let row">  {{row.partModel}}  </td>
        </ng-container>

        <!-- Serial Number Column -->
        <ng-container matColumnDef="serialNumber">
          <th mat-header-cell *matHeaderCellDef>S/N</th>
          <td mat-cell *matCellDef="let row"> {{row.serialNumber}} </td>
        </ng-container>

        <!-- Drawer Column -->
        <ng-container matColumnDef="drawer">
          <th mat-header-cell *matHeaderCellDef>Cajon</th>
          <td mat-cell *matCellDef="let row"> {{row.drawer}} </td>
        </ng-container>

        <!-- Stock Column -->
        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef>Stock</th>
          <td mat-cell *matCellDef="let row"> {{row.stock}} </td>
        </ng-container>
    
        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descripcion</th>
            <td mat-cell *matCellDef="let row"> 

              <!-- Si la descripcion tiene valor renderizo el boton, sino no -->
              <ng-container *ngIf="getStatus(row.description)">  
                <button
                  mat-icon-button
                  (click)="viewDescription(row.description)">
                  <mat-icon [svgIcon]="'heroicons_solid:document-text'"></mat-icon>
                </button>
              </ng-container>
            
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Foto</th>
          <td mat-cell *matCellDef="let row"> 
            <button
              mat-icon-button
              (click)="viewImage(row.image)">
              <mat-icon [svgIcon]="'heroicons_solid:eye'"></mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let row"> 
            <button
              mat-icon-button
              (click)="edit(row)"
              color = "primary">
              <mat-icon [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
            </button>
            
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>

