<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-2 sm:px-4">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-6">
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container>
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">Estadisticas del sistema de stock!</div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                            <div class="ml-1.5 leading-6 truncate text-secondary">Se muestran los datos del sistema y los ultimos 4 repuestos modificados</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <!-- Grupo de arriba -->
            <mat-tab-group
                class="sm:px-2"
                [animationDuration]="'0'"
                class="invisible-tabs">

                <!-- Stats de los repuestos -->
                <mat-tab>
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                            <!-- Repuestos -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">{{autoPartsData.model}}</div>
                                </div>
                                <div class="flex flex-col items-center mt-6">
                                    <div class="text-9xl font-bold tracking-tight leading-none text-blue-500">
                                        <h1 [countUp]="autoPartsData.total">0</h1>
                                    </div>
                                </div>
                            </div>
                            <!-- Marca de repuestos -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">{{partBrandData.model}}</div>
                                </div>
                                <div class="flex flex-col items-center mt-6">
                                    <div class="text-9xl font-bold tracking-tight leading-none text-red-500">
                                        <h1 [countUp]="partBrandData.total">0</h1>
                                    </div>
                                </div>
                            </div>
                            <!-- Marcas de autos -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">{{carBrandData.model}}</div>
                                </div>
                                <div class="flex flex-col items-center mt-6">
                                    <div class="text-9xl font-bold tracking-tight leading-none text-amber-500">
                                        <h1 [countUp]="carBrandData.total">0</h1>
                                    </div>
                                </div>
                            </div>
                            <!-- Tipos de repuestos -->
                            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">{{partTypesData.model}}</div>
                                </div>
                                <div class="flex flex-col items-center mt-6">
                                    <div class="text-9xl font-bold tracking-tight leading-none text-green-500">
                                        <h1 [countUp]="partTypesData.total">0</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="w-full max-w-screen-xl mx-auto">

            <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6 ng-tns-c1318422951-91 ng-star-inserted">

            <!-- Grupo de abajo -->
            <mat-tab-group
                class="sm:px-2"
                [animationDuration]="'0'"
                class="invisible-tabs">

                <!-- Ultimos 4 repuestos modificados -->
                <mat-tab label="Home">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                            <div *ngFor="let a of autoParts">
                                <fuse-card
                                    class="flex flex-col max-w-80 w-full filter-article filter-interactive"
                                    #expandableCard01="fuseCard">
                                    <img
                                        class="object-cover"
                                        [src]=a.image
                                        alt="Card cover image">
                                    <div class="m-8 mb-4">
                                        <div class="text-2xl font-semibold leading-tight">{{a.partType.name}}</div>
                                        <div class="text-secondary text-md mt-1">Marca: {{a.partBrand.name}}</div>
                                        <div class="text-secondary text-md mt-1">Modelo: {{a.partModel}}</div>
                                        <div class="text-secondary text-md mt-1">Marca del auto: {{a.carBrand.name}}</div>
                                        <!--<div class="mt-4">ACA ES UN TEXTO.</div> -->
                                        <div class="mt-3 -mx-3">
                                            <button
                                                class="px-3"
                                                mat-button
                                                [color]="'primary'"
                                                (click)="expandableCard01.expanded = !expandableCard01.expanded">
                                                <span class="mr-1">Ver mas</span>
                                                <mat-icon
                                                    class="icon-size-5 transition-transform ease-in-out duration-150 rotate-0"
                                                    [ngClass]="{'rotate-180': expandableCard01.expanded}"
                                                    [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <ng-container fuseCardExpansion>
                                        <div class="m-8 mt-0">
                                            <div class="flex items-baseline">
                                                <div class="mr-2">Fecha de modificacion:</div>
                                            </div>
                                            <div class="flex items-baseline">
                                                <div class="text-secondary">{{a.updatedAt | date: 'dd/MM/yyyy'}}</div>
                                            </div>
                                            <div class="flex items-baseline mt-1">
                                                <div class="mr-2">Stock:</div>
                                                <div class="text-secondary">{{a.stock}}</div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </fuse-card>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>
</div>
